#table-container {
    vertical-align: top;
    display: inline-block;
    margin-top: 50px;
    margin-right: 11px;
}

.table-style {
    width: 1000px;
    height: 320px;
    border-collapse: collapse;
    cursor: pointer;
    table-layout: fixed;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px #e3e4e8;
    overflow: hidden;
}

.td-style {
    box-sizing: border-box;
    width: 4%;
    height: 40px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.frame {
    border: #446d9b 0.5px solid !important;
    background: #4a76a8;
    font-weight: 700;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 15px;
    color: white;
}

.selected {
    background: #d1d9e0;;
}