.menu-container {
    margin-top: 50px;
    width: 232px;
    display: inline-block;
}

.quick-menu {
    padding-top: 10px;
    background: white;
    width: 230px;
    height: 202px;
    text-align: left;
    display: inline-block;
}

.quick-menu-unit {
    height: 9px;
    width: 200px;
    display: inline-block;
    padding: 10px 15px;
    border-left: 2px solid transparent;
    line-height: 11px;
}

.quick-menu-text-style {
    text-overflow: ellipsis;
    font-weight: 400;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    color: #285473;
    padding-left: 4px;
}

.separate-line {
    border-top: 1px solid #e7e8ec;
    margin: 6px 15px;
    height: 2px;
    width: 200px;
    display: inline-block;
}

.quick-menu-unit-hover:hover {
    background: #f0f2f5;
    cursor: pointer;
}

.grey-text-style {
    color: #696a6e;
}
.left-border {
    border-left: 2px solid #5181b8;
    background: #f0f2f5;
}